.container-inicio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111111;
  color: white;
}

.header-inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 450px;
  margin-bottom: 5rem;
}

header .beelist-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffc400;
  font-weight: bold;
  font-size: 1.5rem;
}

.account-icon {
  color: #ffc400;
  cursor: pointer;
  transition: transform 0.2s;
}

.account-icon:hover {
  transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vw;
}

/* Botão de adicionar */
.add-button {
  width: 80px;
  height: 70px;
  background: #ffbf00;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  clip-path: polygon(
    25% 0%, 75% 0%, 
    100% 50%, 
    75% 100%, 25% 100%, 
    0% 50%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.add-button:hover {
  transform: scale(1.1);
}

/* Responsivo para telas pequenas */
@media (max-width: 480px) {
  .list {
    width: 90%;
  }

  header {
    max-width: 90%;
  }
}
