:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    display: flex;
    justify-content: center;
    align-items: center;
  
}

body {
  margin: 0;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  background-color: #ffba24;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1#BIENVENIDO {
  font-size: 85px;
  line-height: 1.1;
}

h2#loginH {
  font-size: 45px;
  ine-height: 1.1;
}

span#abe {
  color: black;
}

div#bemvindo {
  margin-top: -15%;
}

form div {
  gap: 10px;
  margin-bottom: 15px;
}

label {
  font-size: 20px;
  margin-right: 1%;
}

input {
  width: 300px;
  height: 30px;
  font-size: 15px;
  background-color: #000000;
  border: 2px solid;
  border-color: #000000;
  border-radius: 8px;
}

input:hover {
  border-color: #b9e6e7;
}

button {
  margin-top: 5%;
  border-radius: 13px;
  border: 2px solid transparent;
  padding: 0.6em 2.5em;
  font-size: 1.7em;
  font-weight: 500;
  font: bold;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #b9e6e7;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {

  h1#BIENVENIDO {
    font-size: 35px;
    line-height: 1.1;
  }

  h2#loginH {
    font-size: 25px;
    ine-height: 1.1;
  }

}