.add-button {
    background: #ffbf00;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    clip-path: polygon(25% 0%, 75% 0%,
            100% 50%,
            75% 100%, 25% 100%,
            0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.add-button:hover {
    transform: scale(1.1);
}